<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>movie</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    li{
      list-style: none;
    }
  </style>
</head>
<body>
<h1>点击屏幕开始录音</h1>
<ul id="list">

</ul>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wxc8e92f7ab70fbca0', // 必填，公众号的唯一标识
            timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
            nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
            signature: '<%= signature %>',// 必填，签名
            jsApiList: [
                'startRecord',   //开始录音
                'stopRecord',  //停止录音
                'translateVoice'  //翻译声音
            ] // 必填，需要使用的JS接口列表
        })

        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，
            // config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，
            // 则须把相关接口放在ready函数中调用来确保正确执行。
            // 对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.checkJsApi({
                jsApiList: ['translateVoice', 'startRecord'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function(res) {
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                    console.log(res)
                }
            })
        })

        var isRecord = false    //表示在录音中，初识化状态

        //获取dom对象，绑定touchend事件
        $('h1').on('touchend', function () {
            if (isRecord) {
                //结束录音
                wx.stopRecord({
                    success: function (res) {
                        var localId = res.localId  //录音保存微信服务器中，提供id给我们
                        console.log(localId)
                        //翻译语音
                        wx.translateVoice({
                            localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                            isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                                // alert(res.translateResult) // 语音识别的结果
                                console.log(res.translateResult)
                                //向豆瓣发送请求，请求翻译后文字对应电影数据
                                var url = 'https://api.douban.com/v2/movie/search?q=' + res.translateResult + '&callback=?'
                                console.log(url)
                                let content = ''
                                $.getJSON(url, function (data) {
                                    console.log(data.subjects)
                                    //将数据动态显示到页面上
                                    data.subjects.forEach(function (item) {
                                        content += '<li>\n' +
                                            '           <h3>' + item.title + '</h3>\n' +
                                            '           <div>\n' +
                                            '              <img src="' + item.images.small + '">\n' +
                                            '           </div>\n' +
                                            '           <p>' + item.rating.average + '</p>\n' +
                                            '         </li>'
                                    })
                                    $('#list').html(content)
                                })
                            }
                        })
                        isRecord = false
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            } else {
                //开始录音
                wx.startRecord({
                    success: function (res) {
                        isRecord = true
                        console.log(111111)
                        console.log(res)
                    }
                })
            }

        })



    }
</script>
</body>
</html>